---
import Layout from '../layouts/Layout.astro';
import PageIntro from '../components/PageIntro.astro';

import { Users, Award, RefreshCw, Layers } from 'lucide-astro';
---

<Layout title="Components — Dave Musson" description="Dave Musson is a Principal Design Systems Designer and accessibility specialist with 16 years of experience.">
  <main id="main-content" class="container page-content">

    <h1>Site Components</h1>

    <PageIntro>
      <p>A page of components used on this site. Mostly created when I was doing QA of the site</p>
    </PageIntro>

   <h2>Compoent</h2>
   <p>Componet purpose + component</p>

  </main>
</Layout>
